@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../sass/style.scss */
body {
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.085rem;
  color: #333333;
}

/* line 17, ../sass/style.scss */
a {
  color: #17178E;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 20, ../sass/style.scss */
a:hover, a:active {
  color: #17178E;
  outline: none;
  text-decoration: none;
}

/* line 26, ../sass/style.scss */
p {
  margin-bottom: 20px;
}

/* line 30, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, figure {
  color: #000000;
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

/* line 37, ../sass/style.scss */
::-webkit-selection {
  color: #17178E;
  background: #EAEAFF;
}

/* line 42, ../sass/style.scss */
::-moz-selection {
  color: #17178E;
  background: #EAEAFF;
}

/* line 46, ../sass/style.scss */
::selection {
  color: #17178E;
  background: #EAEAFF;
}

/* line 51, ../sass/style.scss */
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 66;
}
/* line 57, ../sass/style.scss */
#header .logo a {
  display: block;
}
/* line 60, ../sass/style.scss */
#header .logo img {
  max-width: 100%;
  height: 40px;
}
@media screen and (max-width: 1199px) {
  /* line 60, ../sass/style.scss */
  #header .logo img {
    height: 35px;
  }
}
@media screen and (max-width: 576px) {
  /* line 60, ../sass/style.scss */
  #header .logo img {
    height: 30px;
  }
}
@media screen and (max-width: 360px) {
  /* line 60, ../sass/style.scss */
  #header .logo img {
    height: 25px;
  }
}
/* line 74, ../sass/style.scss */
#header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 79, ../sass/style.scss */
#header .navbar .navbar-nav li a {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
/* line 86, ../sass/style.scss */
#header .navbar .navbar-nav.menus li {
  position: relative;
}
/* line 88, ../sass/style.scss */
#header .navbar .navbar-nav.menus li a.nav-link {
  display: inline-block;
  position: relative;
  padding: 15px 10px;
  padding-right: 5px;
}
/* line 93, ../sass/style.scss */
#header .navbar .navbar-nav.menus li a.nav-link:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition: -moz-transform 250ms ease-in-out;
  -o-transition: -o-transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
/* line 101, ../sass/style.scss */
#header .navbar .navbar-nav.menus li a.nav-link:hover:after, #header .navbar .navbar-nav.menus li a.nav-link:active:after {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
/* line 107, ../sass/style.scss */
#header .navbar .navbar-nav.menus li .fa-chevron-down {
  font-size: 0.5rem;
  color: #828282;
}
/* line 111, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent {
  position: relative;
  padding-right: 5px;
}
/* line 115, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent a i {
  padding-left: 5px;
  opacity: 0.65;
  font-size: 15px;
}
/* line 121, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
  background-color: #4d4d4d;
  -moz-transform: translateY(-2em);
  -ms-transform: translateY(-2em);
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
  -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -webkit-transition: all 0.3s ease-in-out, visibility 0s linear, z-index 0s linear;
  -webkit-transition-delay: 0s, 0.3s, 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -webkit-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
  -moz-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
  box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
}
/* line 137, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li {
  width: 100%;
  list-style: none;
}
/* line 140, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li a {
  display: block;
  padding: 10px;
  color: #ffffff;
}
/* line 145, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:hover, #header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:active {
  background-color: #999999;
}
/* line 147, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:hover a, #header .navbar .navbar-nav.menus li.sub-menu-parent .sub-menu li:active a {
  color: #000000;
  letter-spacing: 0.25rem;
}
/* line 157, ../sass/style.scss */
#header .navbar .navbar-nav.menus li.active > a:after {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 166, ../sass/style.scss */
#header .navbar .flex-row .btn-group {
  margin-left: 20px;
}
/* line 168, ../sass/style.scss */
#header .navbar .flex-row .btn-group #language {
  padding: 5px 12px;
  border-width: 1px;
  font-weight: normal;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 173, ../sass/style.scss */
#header .navbar .flex-row .btn-group #language i {
  margin-right: 5px;
}
/* line 176, ../sass/style.scss */
#header .navbar .flex-row .btn-group #language:after {
  display: none;
}
/* line 179, ../sass/style.scss */
#header .navbar .flex-row .btn-group #language:hover, #header .navbar .flex-row .btn-group #language:active {
  opacity: 0.75;
}
/* line 183, ../sass/style.scss */
#header .navbar .flex-row .btn-group .dropdown-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 576px) {
  /* line 166, ../sass/style.scss */
  #header .navbar .flex-row .btn-group {
    margin-left: 0;
    margin-right: 10px;
  }
  /* line 191, ../sass/style.scss */
  #header .navbar .flex-row .btn-group #language {
    min-width: auto;
    padding: 5px;
    font-size: 14px;
  }
  /* line 195, ../sass/style.scss */
  #header .navbar .flex-row .btn-group #language i {
    margin: 3px;
  }
  /* line 199, ../sass/style.scss */
  #header .navbar .flex-row .btn-group .dropdown-menu {
    min-width: 7rem;
  }
  /* line 201, ../sass/style.scss */
  #header .navbar .flex-row .btn-group .dropdown-menu a {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  /* line 166, ../sass/style.scss */
  #header .navbar .flex-row .btn-group {
    margin-right: 0;
  }
  /* line 208, ../sass/style.scss */
  #header .navbar .flex-row .btn-group #language {
    padding: 3px 5px;
  }
  /* line 210, ../sass/style.scss */
  #header .navbar .flex-row .btn-group #language span {
    display: none;
  }
}
/* line 216, ../sass/style.scss */
#header .navbar .flex-row .menu {
  display: none;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}
/* line 221, ../sass/style.scss */
#header .navbar .flex-row .menu .burger {
  position: relative;
  width: 26px;
  height: 50px;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 228, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #17178E;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 239, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span:nth-child(1) {
  top: 15px;
}
/* line 242, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span:nth-child(2) {
  top: 22px;
}
/* line 245, ../sass/style.scss */
#header .navbar .flex-row .menu .burger span:nth-child(3) {
  top: 29px;
}
/* line 251, ../sass/style.scss */
#header .navbar .flex-row .menu .active span {
  background: #EB6C4C;
}
/* line 253, ../sass/style.scss */
#header .navbar .flex-row .menu .active span:nth-child(1) {
  top: 24px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 257, ../sass/style.scss */
#header .navbar .flex-row .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 261, ../sass/style.scss */
#header .navbar .flex-row .menu .active span:nth-child(3) {
  top: 24px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@media screen and (min-width: 992px) {
  /* line 272, ../sass/style.scss */
  #header .navbar .navbar-nav.menus .nav-link {
    padding: 0 0.5rem 0.25rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 281, ../sass/style.scss */
  #header .navbar .navbar-nav.menus .nav-link {
    padding: 0 0.8rem 0.25rem;
  }
}

@media screen and (min-width: 992px) {
  /* line 296, ../sass/style.scss */
  #header .navbar .navbar-nav.menus li a.nav-link:hover, #header .navbar .navbar-nav.menus li a.nav-link:active {
    opacity: 0.5;
  }
}
@media screen and (max-width: 991px) {
  /* line 309, ../sass/style.scss */
  #header .navbar .offcanvas-collapse {
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #4d4d4d;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-property: left, visibility;
  }
  /* line 322, ../sass/style.scss */
  #header .navbar .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 327, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav {
    height: auto;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  /* line 333, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li {
    width: 100%;
    text-align: center;
  }
  /* line 336, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  /* line 339, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a {
    padding: 0.8rem 0.25rem;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  /* line 344, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a:after {
    display: none !important;
  }
  /* line 348, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li .fa-chevron-down {
    position: absolute;
    top: 25px;
    right: 15px;
    color: #EAEAFF;
  }
  /* line 354, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover, #header .navbar .offcanvas-collapse .navbar-nav li:active {
    border-bottom: 2px solid #999999;
  }
  /* line 356, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover > a, #header .navbar .offcanvas-collapse .navbar-nav li:active > a {
    color: #E5E5E5;
  }
  /* line 358, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover > a.nav-link, #header .navbar .offcanvas-collapse .navbar-nav li:active > a.nav-link {
    letter-spacing: 0.5rem;
  }
  /* line 361, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover > a:after, #header .navbar .offcanvas-collapse .navbar-nav li:active > a:after {
    display: none !important;
  }
  /* line 367, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active {
    position: relative;
    display: block;
    width: 100%;
    top: auto;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* line 383, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li {
    width: 100%;
    padding: 0;
    border: none;
  }
  /* line 387, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li a {
    padding: 6px;
    font-size: 1.125rem;
  }
  /* line 391, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover {
    background-color: #999999;
    border-color: transparent;
  }
  /* line 394, ../sass/style.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover a {
    color: #000000;
  }
  /* line 405, ../sass/style.scss */
  #header .navbar .flex-row .nav-link {
    padding-left: 1rem !important;
  }
  /* line 408, ../sass/style.scss */
  #header .navbar .flex-row .menu {
    display: block !important;
  }
}
/* line 416, ../sass/style.scss */
.no-scroll {
  overflow-y: hidden;
}

/* line 421, ../sass/style.scss */
.main section {
  position: relative;
  display: block;
  padding: 3rem 0;
  z-index: 1;
}
/* line 426, ../sass/style.scss */
.main section:first-of-type {
  padding: 5rem 0 3rem;
}
/* line 429, ../sass/style.scss */
.main section:last-of-type {
  padding: 3rem 0 5rem;
}
@media screen and (max-width: 768px) {
  /* line 421, ../sass/style.scss */
  .main section {
    padding: 2rem 0 1.5rem;
  }
  /* line 434, ../sass/style.scss */
  .main section:first-of-type, .main section:last-of-type {
    padding: 2rem 0 1.5rem;
  }
}
/* line 439, ../sass/style.scss */
.main .banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 444, ../sass/style.scss */
.main .banner .img:before {
  padding-bottom: 20%;
}
@media screen and (max-width: 767px) {
  /* line 444, ../sass/style.scss */
  .main .banner .img:before {
    padding-bottom: 30%;
  }
}
/* line 453, ../sass/style.scss */
.main .upload .parallax {
  position: relative;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  /* line 453, ../sass/style.scss */
  .main .upload .parallax {
    height: auto;
    min-height: 250px;
  }
}
/* line 465, ../sass/style.scss */
.main .upload .parallax:before {
  padding-bottom: 15%;
}
@media screen and (max-width: 767px) {
  /* line 465, ../sass/style.scss */
  .main .upload .parallax:before {
    padding-bottom: 25%;
  }
}
/* line 471, ../sass/style.scss */
.main .upload .parallax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}
/* line 483, ../sass/style.scss */
.main .upload .parallax .text h3, .main .upload .parallax .text .btn-outline {
  color: #ffffff;
  border-color: #ffffff;
}
/* line 487, ../sass/style.scss */
.main .upload .parallax .text h3 {
  margin-bottom: 0;
  font-weight: bolder;
  letter-spacing: 0.25rem;
  line-height: 1.4;
}
/* line 494, ../sass/style.scss */
.main .upload .parallax .text .btn-outline:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  /* line 482, ../sass/style.scss */
  .main .upload .parallax .text {
    padding: 2rem 2%;
  }
  /* line 500, ../sass/style.scss */
  .main .upload .parallax .text h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  /* line 504, ../sass/style.scss */
  .main .upload .parallax .text .text-right {
    text-align: center !important;
  }
}
/* line 511, ../sass/style.scss */
.main .title {
  position: relative;
  padding-bottom: 1px;
}
/* line 514, ../sass/style.scss */
.main .title:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100px;
  height: 2px;
  background-color: #17178E;
  z-index: -1;
}
/* line 526, ../sass/style.scss */
.main .title h3 {
  position: relative;
  font-weight: bold;
}
/* line 531, ../sass/style.scss */
.main .img {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 538, ../sass/style.scss */
.main .img:before {
  display: block;
  content: "";
  padding-bottom: 60%;
}
@media screen and (max-width: 991px) {
  /* line 545, ../sass/style.scss */
  .main .item {
    display: block;
    margin-bottom: 30px;
  }
}
/* line 551, ../sass/style.scss */
.main .pagination .page-item {
  padding: .25rem .65rem;
}
/* line 553, ../sass/style.scss */
.main .pagination .page-item .page-link {
  padding: 0;
  color: #828282;
  background-color: transparent;
  border: none;
}
/* line 558, ../sass/style.scss */
.main .pagination .page-item .page-link:hover, .main .pagination .page-item .page-link:active, .main .pagination .page-item .page-link:focus {
  background-color: transparent;
  color: #5a5ae4;
}
/* line 564, ../sass/style.scss */
.main .pagination .page-item.active .page-link {
  color: #17178E;
  background-color: transparent;
  border-bottom: 2px solid #17178E;
}

/* line 574, ../sass/style.scss */
#footer {
  position: relative;
  padding: 3rem 0;
  background-color: #17178E;
  color: #ffffff;
  font-size: 15px;
}
/* line 580, ../sass/style.scss */
#footer h6 {
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  font-size: 17px;
}
/* line 587, ../sass/style.scss */
#footer ul {
  padding: 0;
  margin: 0;
}
/* line 590, ../sass/style.scss */
#footer ul li {
  padding: 0.5rem 0 0.25rem;
  list-style: none;
}
/* line 594, ../sass/style.scss */
#footer ul li.icon i {
  width: 25px;
  text-align: center;
}
/* line 599, ../sass/style.scss */
#footer ul li a {
  color: #ffffff;
}
/* line 601, ../sass/style.scss */
#footer ul li a:hover, #footer ul li a:active, #footer ul li a:focus {
  color: #EAEAFF;
}
/* line 606, ../sass/style.scss */
#footer ul li:not(.icon) span {
  padding-left: 5px;
}
/* line 612, ../sass/style.scss */
#footer ul.contacts li, #footer ul.socials li, #footer ul.service li {
  display: inline-block;
}
/* line 615, ../sass/style.scss */
#footer ul.contacts li:not(:first-child):before, #footer ul.socials li:not(:first-child):before, #footer ul.service li:not(:first-child):before {
  content: "／";
  display: inline-block;
  width: 24px;
  text-align: center;
  font-weight: lighter;
}
/* line 625, ../sass/style.scss */
#footer ul.service {
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 630, ../sass/style.scss */
#footer ul.service li {
  padding: 0;
}
/* line 632, ../sass/style.scss */
#footer ul.service li.sp {
  float: right;
  padding-left: 0;
  text-align: center;
}
/* line 636, ../sass/style.scss */
#footer ul.service li.sp:before {
  display: none;
}
/* line 639, ../sass/style.scss */
#footer ul.service li.sp i, #footer ul.service li.sp span {
  display: block;
}
/* line 642, ../sass/style.scss */
#footer ul.service li.sp span {
  padding-left: 0;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  /* line 632, ../sass/style.scss */
  #footer ul.service li.sp {
    display: block;
    margin-top: 1.5rem;
    float: none;
  }
}
/* line 656, ../sass/style.scss */
#footer .copyright p {
  margin-bottom: 0;
}
/* line 658, ../sass/style.scss */
#footer .copyright p .elink {
  color: #f4c51c;
}
@media screen and (max-width: 576px) {
  /* line 574, ../sass/style.scss */
  #footer {
    padding: 3rem 0 1.5rem;
  }
  /* line 666, ../sass/style.scss */
  #footer .copyright .block {
    display: block;
  }
}

/* line 673, ../sass/style.scss */
.bread {
  position: relative;
  width: 100%;
  background-color: #EAEAFF;
}
/* line 677, ../sass/style.scss */
.bread .breadcrumb {
  width: 100%;
  padding: 0.4rem 0;
  margin-bottom: 0;
  font-size: 15px;
  background-color: transparent;
}
@media screen and (max-width: 576px) {
  /* line 677, ../sass/style.scss */
  .bread .breadcrumb {
    font-size: 14px;
  }
}
/* line 686, ../sass/style.scss */
.bread .breadcrumb li {
  color: gray;
}
/* line 688, ../sass/style.scss */
.bread .breadcrumb li:before {
  color: #bfbfbf !important;
}
/* line 691, ../sass/style.scss */
.bread .breadcrumb li a {
  color: gray;
}
/* line 693, ../sass/style.scss */
.bread .breadcrumb li a:hover {
  color: #17178E;
}
/* line 698, ../sass/style.scss */
.bread .breadcrumb .active {
  font-weight: bold;
}

/* line 704, ../sass/style.scss */
#in-btn {
  position: fixed;
  display: block;
  top: 50%;
  right: 0;
  cursor: pointer;
  z-index: 66;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 712, ../sass/style.scss */
#in-btn .btn-primary {
  padding: 5px 8px;
  text-align: center;
  color: #EAEAFF;
  font-weight: bold;
  font-size: 0.95rem;
  line-height: 1.2;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
}
/* line 722, ../sass/style.scss */
#in-btn .btn-primary span {
  display: block;
  margin: 0 auto;
}
/* line 725, ../sass/style.scss */
#in-btn .btn-primary span.text {
  margin: 0 auto 3px;
  letter-spacing: 0;
}
/* line 729, ../sass/style.scss */
#in-btn .btn-primary span.quantity {
  font-size: 0.85rem;
  font-weight: normal;
}
/* line 734, ../sass/style.scss */
#in-btn .btn-primary:hover, #in-btn .btn-primary:active {
  opacity: 0.85;
}
@media screen and (max-width: 768px) {
  /* line 704, ../sass/style.scss */
  #in-btn {
    top: auto;
    bottom: 30%;
  }
}

/* line 745, ../sass/style.scss */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Noto Sans", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 6px 20px;
}
/* line 754, ../sass/style.scss */
.btn.btn-sm {
  font-size: 0.9rem;
  padding: 4px 15px !important;
}
/* line 758, ../sass/style.scss */
.btn.btn-lg {
  padding: 18px 36px !important;
}
/* line 761, ../sass/style.scss */
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* line 766, ../sass/style.scss */
.btn-primary {
  background: #17178E;
  color: #ffffff;
  border: 2px solid #17178E;
}
/* line 770, ../sass/style.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #1b1ba4 !important;
  border-color: #1b1ba4 !important;
}
/* line 774, ../sass/style.scss */
.btn-primary.btn-outline {
  background: transparent;
  color: #17178E;
  border: 2px solid #17178E;
}
/* line 778, ../sass/style.scss */
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #17178E;
  color: #ffffff;
}

/* line 784, ../sass/style.scss */
.btn-outline {
  background: none;
  border: 2px solid #17178E;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 788, ../sass/style.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
  border: 2px solid #5a5ae4;
  color: #5a5ae4;
}

/* 使用者自訂顏色 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 6, ../sass/pro-series.scss */
#pro-series .card {
  margin-bottom: 30px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
/* line 10, ../sass/pro-series.scss */
#pro-series .card .card-body {
  padding: 0.75rem;
  background-color: #17178E;
}
/* line 13, ../sass/pro-series.scss */
#pro-series .card .card-body .card-title {
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
}
/* line 19, ../sass/pro-series.scss */
#pro-series .card .list-group {
  padding: 0 25px 30px;
  background-color: rgba(229, 229, 229, 0.75);
}
/* line 22, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item {
  position: relative;
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #000000;
  border-radius: 0 !important;
}
/* line 29, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a {
  color: #000000;
  font-weight: bold;
}
/* line 32, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a:hover, #pro-series .card .list-group .list-group-item a:active, #pro-series .card .list-group .list-group-item a:focus {
  color: #17178E;
  letter-spacing: 0.125rem;
}
/* line 36, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a i {
  margin-left: 10px;
  font-size: 1rem;
}
/* line 42, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item.active a {
  color: #17178E;
  font-size: 1.15rem;
}
/* line 48, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group {
  padding: 10px 10px 0;
  background-color: transparent;
}
/* line 51, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item {
  padding: 0.25rem 0;
  background-color: transparent;
  border: none;
}
/* line 55, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item a {
  color: #000000;
  font-size: 1rem;
}
/* line 60, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item.active a {
  color: #17178E;
  font-size: 1.05rem;
}
@media screen and (min-width: 992px) {
  /* line 70, ../sass/pro-series.scss */
  #pro-series .dropdown {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  /* line 75, ../sass/pro-series.scss */
  #pro-series .card {
    display: none;
  }
  /* line 78, ../sass/pro-series.scss */
  #pro-series .dropdown {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 81, ../sass/pro-series.scss */
  #pro-series .dropdown .btn-secondary {
    width: 100%;
    background-color: #17178E;
    border-color: transparent;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.25rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /* line 91, ../sass/pro-series.scss */
  #pro-series .dropdown .btn-secondary:hover, #pro-series .dropdown .btn-secondary:focus, #pro-series .dropdown .btn-secondary:active {
    background-color: #17178E;
    border-color: transparent;
    color: #EAEAFF;
  }
  /* line 97, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu {
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /* line 101, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu .dropdown-item {
    color: #17178E;
    -moz-transition: ease-in 0.05s;
    -o-transition: ease-in 0.05s;
    -webkit-transition: ease-in 0.05s;
    transition: ease-in 0.05s;
  }
  /* line 104, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu .dropdown-item:hover, #pro-series .dropdown .dropdown-menu .dropdown-item:focus, #pro-series .dropdown .dropdown-menu .dropdown-item:active {
    color: #ffffff;
    background-color: #17178E;
  }
  /* line 109, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul {
    padding-left: 25px;
  }
  /* line 111, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li {
    list-style: none;
  }
  /* line 113, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li a {
    position: relative;
  }
  /* line 115, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li a:before {
    content: "-";
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 6, ../sass/item.scss */
.item .text {
  margin: 10px 0 15px;
  color: #000000;
}
/* line 9, ../sass/item.scss */
.item .text h6 {
  font-weight: bold;
}
/* line 12, ../sass/item.scss */
.item .text p {
  margin-bottom: 10px;
  color: #000000;
}
/* line 16, ../sass/item.scss */
.item .text a {
  margin-bottom: 15px;
}
/* line 18, ../sass/item.scss */
.item .text a.more {
  display: inline-block;
  border-bottom: 1px dotted #17178E;
  font-size: 0.85rem;
  float: right;
}
/* line 25, ../sass/item.scss */
.item .text .date {
  display: inline-block;
  font-size: 0.85rem;
}

/* line 6, ../sass/news.scss */
.news .banner .img {
  background-image: url(../images/banner/rectangle6.jpg);
}
/* line 10, ../sass/news.scss */
.news .item {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #EAEAFF;
}
/* line 14, ../sass/news.scss */
.news .item .text {
  margin: 0;
}
/* line 16, ../sass/news.scss */
.news .item .text a.more {
  margin-bottom: 0;
}
/* line 23, ../sass/news.scss */
.news .news-post .postinfo-wrapper p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}
/* line 29, ../sass/news.scss */
.news .news-post .blog-title {
  text-align: left;
}
/* line 31, ../sass/news.scss */
.news .news-post .blog-title h5 {
  font-weight: bold;
}
/* line 35, ../sass/news.scss */
.news .news-post .post-thumbnail, .news .news-post .blog-title, .news .news-post .postinfo-wrapper {
  margin-bottom: 10px;
}
/* line 38, ../sass/news.scss */
.news .news-post .post-info {
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 43, ../sass/news.scss */
.news .news-post .post-info .readmore {
  font-weight: bold;
}
/* line 48, ../sass/news.scss */
.news article {
  position: relative;
  padding: 0 15px;
}
/* line 51, ../sass/news.scss */
.news article h4.title {
  padding-bottom: 0;
  margin-bottom: 15px;
  color: #17178E;
  font-weight: bolder;
}
/* line 56, ../sass/news.scss */
.news article h4.title:before {
  display: none;
}
/* line 60, ../sass/news.scss */
.news article .date {
  display: block;
  margin-bottom: 1.5rem;
}
/* line 64, ../sass/news.scss */
.news article .img {
  margin-bottom: 1.5rem;
}
/* line 66, ../sass/news.scss */
.news article .img:before {
  padding-bottom: 40%;
}
/* line 72, ../sass/news.scss */
.news ul.act-btns {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  text-align: center;
}
/* line 77, ../sass/news.scss */
.news ul.act-btns li {
  display: inline-block;
  list-style: none;
}
@media screen and (max-width: 767px) {
  /* line 85, ../sass/news.scss */
  .news article h4.title {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
}
