/* line 12, ../sass/test.scss */
.header-bg {
  background-color: #EAEAFF !important;
}

@media screen and (min-width: 991px) {
  /* line 16, ../sass/test.scss */
  .header-text {
    color: #000000 !important;
  }
}
/* line 20, ../sass/test.scss */
.header-btn {
  color: #17178E !important;
  border-color: #17178E !important;
}

/* line 26, ../sass/test.scss */
.footer-bg {
  background-color: #EB6C4C !important;
}

/* line 29, ../sass/test.scss */
.footer-text {
  color: #E5E5E5 !important;
}

/* line 34, ../sass/test.scss */
.active-btn {
  color: #EAEAFF !important;
  background-color: #17178E !important;
}

/* line 40, ../sass/test.scss */
.about-bg {
  background-color: #E5E5E5;
}

/* line 43, ../sass/test.scss */
.about-title {
  color: #000000 !important;
}

/* line 46, ../sass/test.scss */
.about-text {
  color: #828282 !important;
}

/* line 49, ../sass/test.scss */
.about-btn {
  color: #EB6C4C !important;
  border-color: #EB6C4C !important;
}

/* line 55, ../sass/test.scss */
.product-bg {
  background-color: #17178E;
}

/* line 58, ../sass/test.scss */
.product-title {
  color: #EAEAFF !important;
}
/* line 60, ../sass/test.scss */
.product-title:before {
  background-color: #EAEAFF !important;
}

/* line 64, ../sass/test.scss */
.product-text {
  color: #E5E5E5 !important;
}

/* line 67, ../sass/test.scss */
.product-btn {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

/* line 73, ../sass/test.scss */
.cta-outer_bg {
  background-color: #E5E5E5 !important;
}

/* line 76, ../sass/test.scss */
.cta-inner_bg {
  background-color: #EAEAFF !important;
}

/* line 79, ../sass/test.scss */
.cta-title {
  color: #828282 !important;
}

/* line 82, ../sass/test.scss */
.cta-border {
  border-color: #828282 !important;
}
